.App {
  text-align: center;
  cursor: url('../src/churrito_1_48x48.png'), auto;
}

.detail,
.detail-header,
.listings,
.home,
.churro-card,
.navbar {
  display: flex;
}

.home {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 1em;
  min-height: 2em;
  font-family: 'Georgia';
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
  cursor: url('../src/churrito_1_48x48.png'), auto;
}

.card {
  max-width: 400px;
  max-height: 480px;
  border-radius: 4px;
  background-color: #ff0000;
  transition: all 0.2s;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card .img-wrapper {
  width: auto;
}

.card img {
  width: 100%;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card .info-wrapper {
  padding: 1em;
}

.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 425px);
  grid-gap: 1em;
  justify-content: center;
}

main {
  padding: 2em 0;
}

.card:hover {
  opacity: 0.8;
}
